/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  background-color: gray;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  width: 100%;
  margin: 0.50rem;
  background: white;
  padding: 4.5rem 4rem;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;

  
}


.row2 {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.col1 {
  background: red;
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
  
}

.col2 {
  background: red;
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
}

h1{
  background-color: red;
  margin: 0;
  font-size: 1.56rem;
  font-weight: 500;

}

h2 {
  padding: 0;
  margin:0;
  order: 2;
  font-size: 0.8rem;
  font-weight:200;
}

p {
  padding: 0;
  margin:0;
  order: 1;
  font-size: 1.25rem;
  font-weight: bold;
}

/* border radius */
h1, .col1, .col2 {
  border-radius: .25rem;
}











