* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: linear-gradient(
  to bottom, 
  rgb(0, 0, 0, 0), 
  rgba(255, 255, 255, 0)      
  );
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}



section {
  background: white;
  height: auto;
  margin: .5rem .2rem;
  padding: 2.5rem .5rem;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  border-radius: .50rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 2rem;


}

li {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 0.5rem;
  padding: 1rem;
  background-size: cover;
  background-position: center;
  color:white;
}

.item1{
  height: 580px;
}

.item2, .item3 {
  height: 337px;
}


h1, h4, p{
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.80rem;
  font-weight: 600;
}

p {
  line-height: 1.75rem;
  order: 1;
  /* white-space: normal; */
  word-break: break-word;
  font-size: 1.15rem;
  /* max-width: calc(inherit - 50px) */

}

h4 {
  order: 2;
  font-size: .75rem;
  font-weight: 300;
}

@media (min-width: 810px) {

  html {
    font-size: 17px;
  }



  section {
    min-height: 100vh;
    padding-top: 10rem;
    padding-bottom: 10rem;
    gap: 1.25rem;
  }


  ul {
    height: 100%;
    display: grid;
    gap: 1.25rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:

    "item1 item2"
    "item1 item3"
  }

  .item1, .item2, .item3 {
    height: auto;
  }


  .item1{
    grid-area: item1
  }

  .item2{
    grid-area: item2
  }

  .item3{
    grid-area: item3
  }

 
}

@media(min-width: 992px) {
  html {
    font-size: 18px;
  }
  section {
    padding: 5rem 5rem; 
  }

  p {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.50rem;
    font-weight: 550;
  }
  

  h4 {
    font-size: .65rem;
    font-weight: 400;
  }
}










