* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  display: flex;
  min-height: 100vh;
}

#root {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  display: flex;
  
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

form {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  gap: 4rem;
  padding: 1rem;
  margin-bottom: 5rem;
}

.row, .row4{
  display: flex;
  flex-direction: column;

}


input {
  height: 2.5rem;
  border-radius: .25rem;
  background-color: #fafafa;
  border: #e5e5e5;
  border-style: solid;
  border-width: 1px;
 

}

label {
  font-size: .9rem;
  font-weight: 400;
}

p {
  font-size: .75rem;
  color: #737373;
}

.row4 p{
  color: red;
}



